.navBar {
  width: 100vw;
  height: 100px;
  background-color: cornflowerblue;
  font-size: 48px;
}

body {
  background-color: snow;
}

.border-top {
  border-top: solid 2px lightslategray;
}


@media screen and (max-width: 455px) {
  .flex-column-mobile {
    flex-direction: column!important;
    align-items: center!important;
    margin: auto;
  }

  .modal address {
    margin-top: 1.5rem;
  }

  .modal ul {
    margin: 1.5rem 0!important;
  }
}